nav{
    background-color: #558b2f;
}
.footer{
    background-color: #558b2f;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer2{
    background-color: #558b2f;
    position: relative;
    bottom: 0;
    width: 100%;
}
